{% extends 'base.html.twig' %}

{% block title %}
    Index des médias
{% endblock %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <nav class="breadcrumb">
                <a href="{{ path('admin_index') }}" class="breadcrumb-item active">Index</a>
            </nav>
            <h1 class="display-3">Index des médias</h1>
            <p class="text-muted">Ce back office vous permet d'enregister des livres et des films (bluray ou dvd). Il vous sera possible d'éditer et supprimer ces médias !</p>
        </div>
    </div>
{% endblock %}

{#{% block beadcrumb %}#}
{#<nav class="breadcrumb">#}
    {#<a href="#" class="breadcrumb-item active">Index</a>#}
{#</nav>#}
{#{% endblock %}#}


{% block body %}
<div class="row text-center placeholder">
    <div class="col-md-6">
        <h2>Listes des livres <span class="badge badge-pill badge-info">{{ books | length }}</span></h2>

        <div class="list-group">
            {% for book in books %}
                <a href="{{ path('admin_book_show', {'book' : book.id}) }}" class="list-group-item list-group-item-action">{{ book.title }} de {{ book.author }}</a>
            {% endfor %}
        </div>
        <a href="{{ path('admin_book_create') }}" class="btn .btn-lg btn-outline-primary">Ajouter un livre</a>
    </div>
    <div class="col-md-6">
        <h2>Listes des films <span class="badge badge-pill badge-info">{{ movies | length }}</span></h2>

        <div class="list-group">
            {% for movie in movies %}
                <a href="{{ path('admin_movie_show', {'movie' : movie.id}) }}" class="list-group-item list-group-item-action">{{ movie.title }} de {{ movie.director }}</a>
            {% endfor %}
        </div>
        <a href="{{ path('admin_movie_create') }}" class="btn .btn-lg btn-outline-primary">Ajouter un film</a>
    </div>
</div>
{% endblock %}