{% extends 'base.html.twig' %}

{% block title %}
    Editer un livre
{% endblock %}

{% block header %}{% endblock %}

{% block beadcrumb %}
    <nav class="breadcrumb">
        <a href="{{ path('admin_index') }}" class="breadcrumb-item">Index</a>
        <a href="{{ path('admin_book_edit', {'book' : book.id}) }}" class="breadcrumb-item active">Editer ce livre : {{ book.title }}</a>
    </nav>
{% endblock %}

{% block body %}
    <div class="row text-center placeholder>
        {{ include('_flash.message.html.twig') }}
    </div>
    <div class="row text-center placeholder">
        <div class="col-md-6">
            <h2>Editer un livre</h2>

            {{ include('book/_form.html.twig') }}
        </div>
    </div>
{% endblock %}